The aim of this course is to provide an accessible introduction to key concepts in today's business world. Together with your teacher you will discuss your English language learning priorities and the core professional skills you wish to focus on.

Emphasis is placed on communication tasks, which give students the opportunity to practise fluency and build confidence in business situations. The list of main topics is by no means exhaustive and can be adapted to cover other topics which students would like to focus on.

You may also want to achieve further success with a recognised qualification that will make you an asset as an employeee.

The content of the course will be determined by completion of a <strong>'Needs Analysis'</strong> and consultation with the teacher.

<b>Key facts</b>

- placement test to ensure a class at the right level
- regular progress checks
- regular homework
- multi-national classes
- a course book when you arrive (minimum 2 week course)
- regular tutorials with class teacher to give study advice (two every 10-14 week term)
- end of course certificate