The aim of this course is to meet the needs of our students by providing models of language as it is used in contemporary society, using topics which are relevant to learners' needs and interests. The classroom activities and worksheets provide students with practice in using expressions, conversation strategies and grammatical items that are relevant to their needs in the 'real world'.

Communicative activities include practice in such things as:

- Agreeing and disagreeing politely
- Giving advice
- Exchanging ideas on cultural issues
- Expressing preferences
- Answering a business phone call
- Negotiating with work colleagues
- Using conversation strategies to discuss a range of contemporary issues.

Throughout the course the target language, aspects of pronunciation, grammatical items and conversation strategies are presented in context, within a communicative framework, so that students are led to see the link between form and meaning. During the lessons there will be a balance between individual, pair work and group work to help develop students' confidence and learner autonomy.

Teachers will use a variety of course book and authentic supplementary materials.

<b>Key facts</b>

- placement test to ensure a class at the right level
- Conversation and Pronunciation Club <b>'Needs Analysis'</b>
- multi-national classes
- end of course certificate