<font color='#E35105'><b>Intensive courses focus on the four key principles of reading, writing, speaking and listening. Grammar and vocabulary are also studied</b></font>

- to learn English and explore a new country and culture
- to improve your level of English before taking an English exam course, such as FCE, CAE and IELTS
- to learn English to improve your career prospects and future work opportunities
- to learn English but still have enough time for leisure activities
- to receive a certificate at the end of your course stating your level of achievement

<b>Key facts</b>

- placement test to ensure a class at the right level
- regular progress checks
- regular homework
- multi-national classes
- a course book when you arrive (minimum 2 week course)
- regular tutorials with class teacher to give study advice (two every 10-14 week term)
- end of course certificate stating hours of study and final levels <b>(Minimum attendance 80%)</b>

<b>Please note that classes at Elementary level are only offered on our Standard course (15 hours per week) and not on the Intensive course.</b>