<font color='#E35105'><b>SEMI-INTENSIVE ENGLISH COURSE</b></font>

The Semi-intensive English Course follows an integrated approach to language learning and you follow the same structure as the Standard Course, where classes cover all the essential English language skills; but this course also includes an extra 8 or 12 lessons to focus on and improve 'Specific English Skills'.

<font color='#E35105'><b>SEMI-INTENSIVE OPTION 1 - 21 HOURS PER WEEK.</b></font>

Standard course + 6 hours per week

(Tuesday and Thursday afternoons)

<b>Specific English language skills include:</b>

- Conversation & Pronunciation Club
- Grammar & Vocabulary Builder
- Listening & Speaking
- Writing & Speaking

<font color='#E35105'><b>SEMI-INTENSIVE OPTION 2 - 24 HOURS PER WEEK.</b></font>

Standard course + 9 hours per week

(Monday, Wednesday & Friday afternoons)

<b>Specific English language skills include:</b>

- Cambridge Exam preparation for CAE or FCE
- IELTS Exam preparation
- An introduction to Business English (BEC Exam preparation optional)

<b>Choose a Semi-Intensive English course if you want:</b>

- to learn English and explore a new country and culture
- to improve 'Specific English Skills'
- to prepare for an exam course, such as FCE, CAE and IELTS
- to learn English to improve your career prospects and future work opportunities
- to learn English but still have enough time for leisure activities
- to receive a certificate at the end of your course stating your level of achievement

<b>Key facts</b>

- placement test to ensure a class at the right level
- regular progress checks
- regular homework
- multi-national classes
- a course book when you arrive (minimum 2 week course)
- regular tutorials with class teacher to give study advice
- end of course certificate stating hours of study and final levels <b>(Minimum attendance 80%)</b>

<b>Please note that classes at Elementary level are only offered on our Standard course (15 hours per week) and not on the Semi-Intensive or Intensive course.</b>