<font color='#E35105'><b>Standard courses focus on the four key principles of reading, writing, speaking and listening. Grammar and vocabulary are also studied</b></font>

<b>Choose a Standard General English course if you want:</b>

- to learn English and explore a new country and culture
- to improve your level of English before taking an English exam course, such as FCE, CAE and IELTS
- to learn English to improve your career prospects and future work opportunities
- to learn English but still have enough time for leisure activities
- to receive a certificate at the end of your course stating your level of achievement

<b>Key facts</b>

- placement test to ensure a class at the right level
- regular progress checks
- regular homework
- multi-national classes
- a course book when you arrive (minimum 2 week course)
- end of course certificate